<div class="col-md-3">
    <div class="sidebar-module well">
        <h4>today's articles</h4>
        <ol class="list-unstyled">
            {% for article in articles %}
                <li><a href="{{ path('article_view', {'id':article.id}) }}">{{ article.title }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>