{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-6">
        <h3>MISC</h3>
        <div class="alert alert-success">
            <p>Random generation of users and articles linked to random users (in console : "php bin/console udev:create-article -N 50" and "php bin/console udev:create-users -N 50"
            </p>
        </div>
        <h3>Users</h3>
        <div class="alert alert-success">
            <p>index, add, edit, delete ok, pagination widgets...
            </p>
        </div>
        <h3>Users</h3>
        <div class="alert alert-success">
            <p>index, add ok ;  edit, delete in progress
            </p>
        </div>

    </div>
    {{ render(controller('AppBundle:Default:lastUsersWidget')) }}

    {{ render(controller('AppBundle:Default:lastArticlesWidget')) }}
    <script src="/{{ asset('js/hinclude.js') }}"

            type="text/javascript"></script>
    {{ render_hinclude(controller('AppBundle:Default:lastUsersWidget'), {'default': 'loading...'}) }}
{% endblock %}
