{% extends 'base.html.twig' %}

{% block body %}

    {{ dump(table) }}
    <table>
    {% for tab in table %}
       <tr>
        {% for value in tab %}

           <td>  {{ value }} </td>
        {% endfor %}
       </tr>

    {% endfor %}
    </table>

    {% trans %}%translated%{% endtrans %}


{% endblock %}
